<script type="text/javascript">
    $(document).ready(function () {
        $(":input[type='button']").button();
        $('#AddRole').click(function () {
            var _userId = $('#UserId').val();
            var _id = $('#RoleId').val();

            if (_userId == '') {
                alert("No has ingresado una mascota");
            }
            if (_id == '#RoleId') {
                alert("No has ingresado una mascota");
            }

            var _parameters = { userId: _userId, id: _id };
            $.ajax({
                url: "/Admin/AddUserRoleReturnPartialView",
                type: "GET",
                data: _parameters,
                success: function (data, textStatus, jqXHR) {
                    $('#RolesTable').html(data);
                }
            });
        });
    });
</script>

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">

            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <h2>
                Vincular Rol a Usuario
            </h2>
            <br />
            <br />


            <input name='UserId' id='UserId' type="hidden" value="@ViewBag.UserId" />
            @*<fieldset style="padding: 1em; font: 100%; color: Black; border-color: Black; border-style: solid;
                border-width: thin; border-color: Silver; width: 650px">*@
            @*<legend><strong>Add Role To User</strong></legend>*@
            <br />
            <label>
                Roles:
            </label>
            @Html.DropDownList("RoleId", null, string.Empty, new { style = "width:250px" })
            <input type="button" class="btn btn-primary btn-w-m" id="AddRole" value="Agregar Rol" />
            @*</fieldset>*@




        </div>
    </div>
</div>