<div class="footer">
    <div class="pull-right">
        Banco Santa Fe - Web y Departamentales
    </div>
    <div>
        <strong> Sistema de Requerimientos</strong> &copy; 2018
    </div>
</div>
