<?xml version="1.0" encoding="utf-8"?>
<!--
  Więcej informacji dotyczących konfigurowania aplikacji platformy ASP.NET można znaleźć na stronie
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
  <system.net>
    <mailSettings>
      <smtp from="nicolascuellar85@gmail.com">
        <network host="smtp.gmail.com"
                 port="587"
                 enableSsl="true"
                 userName="nicolascuellar85@gmail.com"
                 password="nicolasvega1212"
                 defaultCredentials="false" />
        
      </smtp>
    </mailSettings>
  </system.net>
  
  -->
  <!--<log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\log\Requerimientos.log" />
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %line %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>-->
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\log\Requerimientos.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p [%u] [%line] %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="ScaffoldingContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=ScaffoldingContext-20141212125339; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ScaffoldingContext-20141212125339.mdf" providerName="System.Data.SqlClient" />
    <!--<add name="CS" connectionString="Data Source=DESKTOP-1REMSUJ\SQLEXPRESS;Initial Catalog=prueba;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="RequerimientosConn" connectionString="metadata=res://*/Models.ModelReportes.csdl|res://*/Models.ModelReportes.ssdl|res://*/Models.ModelReportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1REMSUJ\SQLEXPRESS;initial catalog=prueba;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <add name="RBAC_Model" connectionString="data source=DESKTOP-1REMSUJ\SQLEXPRESS;initial catalog=prueba;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="RequerimientosConn" connectionString="metadata=res://*/Models.ModelReportes.csdl|res://*/Models.ModelReportes.ssdl|res://*/Models.ModelReportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BN17KL9\SQLEXPRESS;initial catalog=requerimientos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="RequerimientosConn" connectionString="metadata=res://*/Models.ModelReportes.csdl|res://*/Models.ModelReportes.ssdl|res://*/Models.ModelReportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BN17KL9\SQLEXPRESS;initial catalog=requerimientos;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="nicolascuellar85@gmail.com" />
    <add key="Password" value="nicolasvega1212" />
    <add key="Port" value="587" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime maxRequestLength="2097151" targetFramework="4.5.1" />
    <!--<identity impersonate="false" />-->
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <identity impersonate="false" />
    <customErrors mode="Off" defaultRedirect="~/Error/Index/" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>