@{
    ViewBag.Title = "Error";
}
<div class="middle-box text-center animated fadeInDown">
    <h2 style="font-size:100px;">OOPS?!</h2>
    <h3 class="font-bold">Ha ocurrido un error</h3>

    <div class="error-desc">
        <p>LO SENTIMOS, PERO POR EL MOMENTO NO PUEDE CONTINUAR CON LA ACCIÓN QUE INTENTA REALIZAR.</p>


        Estamos trabajando para solucionar el inconveniente a la brevedad.
      
        <form class="form-inline m-t" role="form">
         
        </form>
    </div>
</div>